@import './mixin.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

p { margin: 0; padding: 0;}

label { font-weight: 700;}

html {
  height: 100%;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}
li { list-style: none;}

#app {
  min-width: 1220px;
  height: 100%;
  // overflow-y: auto;
  // overflow-x: hidden;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus { outline: none;}

.fr {float: right;}

.fl {float: left;}

.pr-5 {padding-right: 5px;}

.pl-5 {padding-left: 5px;}

.block { display: block;}

.pointer {cursor: pointer;}

.inlineBlock {display: inline-block;}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
  }
}

// 文本溢出隐藏出现省略号
.over{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}


// 重置element-ui style
.el-header, .el-main, .el-footer {
  padding: 0;
  margin: 0;
}

.el-container:not(#internet-container) {
  min-width: 1220px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  _height: 100%;
  height: auto !important;
  min-height: 100%;
}

//商家端企业设置的表单样式
#enterpriseSet{
  form.el-form{
    >div.el-form-item{
      label.el-form-item__label{padding:0 16px 0 0;}
    }
    >div.el-form-item:not(.upload-item){
      margin-bottom:30px;
    }
    >div.el-form-item:last-child{margin-bottom:0;}

    >.upload-item{
      margin:0;
      .upload-demo{
        position: relative;
        >.el-upload--picture-card{
          border:0;width:140px;height:140px;
        }
        >div.el-upload__tip{
          margin:0;
        }
        >ul.el-upload-list{
          position: absolute;top:0;left:0;
          >li.el-upload-list__item{
            width:140px;height:140px;margin:0;padding-top:0;border-radius:0;
            >img{width:140px;height:140px;object-fit: cover;}
            >a.el-upload-list__item-name{display: none;}
            >i.el-icon-close{
              font-weight:900;z-index:100;
              background:rgba(255,255,255,.4);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);
            }
          }
        }
      }
    }

  }
  // form.el-form.el-form--inline{
  //   >div.el-form-item:nth-last-child(2){margin-bottom:0;}
  // }
}

// 商家端---我的订单时间控件
#myOrder form.el-form .dateIpt span.el-range-separator{
  width:16px !important;color:#B3B3B3;padding:0 !important;
}
#myOrder form.el-form .dateIpt input{background:none !important;}

// 设置表头和每一行的高度
.myTable.el-table td,.myTable.el-table th{padding:0;height:36px;}

.w1220 {
  width: 1220px;
  margin: 0 auto;
  overflow: hidden;
}

.bg{background:#fff;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.nobr,.nobr>input{border-radius: 0;}
.sell-padding{padding: 15px 32px 30px;}

/* 滚动条样式 */
// html{
//   scrollbar-face-color: #1f7ebe;        /*滚动条凸出部分的颜色*/
//   scrollbar-highlight-color: #1f7ebe;    /*滚动条空白部分的颜色*/
//   scrollbar-shadow-color: #1f7ebe;     /*立体滚动条阴影的颜色*/
//   scrollbar-3dlight-color: #1f7ebe;     /*滚动条亮边的([www.111cn.net](http://www.111cn.net/))颜色*/
//   scrollbar-arrow-color: #1f7ebe;     /*上下按钮上三角箭头的颜色*/
//   scrollbar-track-color: #c1e2f1;     /*滚动条的背景颜色*/
//   scrollbar-darkshadow-color: #1f7ebe;     /*滚动条强阴影的颜色*/
//   scrollbar-base-color: #1f7ebe;     /*滚动条的基本颜色*/
// }
// /* 滚动条的宽度 */
html::-webkit-scrollbar{
  width:4px;
}
// /* 滚动的滑块 */
html::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
}
// /* 外层轨道 */
html::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}


